// User variables:
$accent: orange
$text: #333

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

$wrapper_bg_color: #ffffff
$black_text: #000000
$maplink_color: #737373
$maplink_bg: #f3f3f3
$menu_color: #8f8f8f
$white_color: #ffffff
$h3_color: #636363
$label-text_color: #a6a6a6
$title_color: #0d386b
$page-bg: #ebeff2
$price-text: #5C7C8D
$price-duration: #59697A
$price-value: #FF640D
$quick-order-title: #0D386B
$quick-order-price: #979797
$quick-order-btn: #24BC4F
$btn_color: #00D23B
